.header {
  background: var(--grey-900);
}

.header_content {
  display: flex;
  align-items: center;
  padding: var(--space-md) 0;
}

.header_menu {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.logo_name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-thin);
  text-transform: uppercase;
  color: var(--blueGrey-100);
}

.logo_image {
  display: block;
  width: 70px;
  height: 50px;
}
