.artist_list_section {
  margin-top: var(--space-3xl);
  position: relative;
}

.artist_list_title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-bottom: var(--space-lg);
}

.artist_list_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-xl);
}

.artist_list_empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-md);
  color: var(--grey-900);
}

.artist_list_error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-md);
  color: var(--red-500);
}
