.avatar_block {
  width: 30px;
  height: 30px;
  border-radius: var(--circular);
  background: var(--pink-500);
  border: 1px solid var(--pink-500);
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
