.avatar_block {
  width: 30px;
  height: 30px;
  border-radius: var(--circular);
  background: var(--pink-500);
  border: 1px solid var(--pink-500);
  overflow: hidden;
}

.avatar {
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 29px;
  font-size: var(--font-size-lg);
  color: var(--grey-50);
  text-transform: uppercase;
}
