.track_history {
  margin-top: var(--space-4xl);
}

.track_history_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: var(--space-xl);
  flex-wrap: wrap;
}
