.artist_card {
  padding: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.artist_avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.artist_avatar_block {
  cursor: pointer;
  width: 100%;
}

.artist_name {
  margin: var(--space-sm) 0;
  text-align: center;
  color: var(--grey-900);
}
