@import './tokens/colors.css';
@import './tokens/radii.css';
@import './tokens/spacing.css';
@import './tokens/typography.css';
@import './sizes.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  letter-spacing: var(--space-xs);
  background: var(--grey-50);
}

.center_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:active {
  color: inherit;
}

ul {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--grey-900);
}

*::-webkit-scrollbar-thumb {
  background: var(--pink-500);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--pink-500);
}

::selection {
  background-color: var(--pink-500);
  color: var(--grey-50);
}
