.track_list_section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: var(--space-4xl) auto 0;
  justify-items: center;
}

.artist_content {
  margin-bottom: var(--space-3xl);
}

.artist_info {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: var(--space-lg);
}

.artist_avatar {
  width: 350px;
  height: 350px;
  border-radius: var(--circular);
  overflow: hidden;
  border: 4px solid var(--pink-500);
}

.artist_name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.artist_information {
  text-align: left;
  margin-top: var(--space-md);
}

.artist_title {
  margin-top: var(--space-lg);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--pink-500);
}

.album_track_block {
  width: 80%;
}

.album {
  display: flex;
  flex-direction: row;
  gap: var(--space-xl);
}

.album_cover {
  width: 250px;
  height: 250px;
  border: 4px solid var(--pink-500);
}

.album_info {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.album_title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--pink-500);
}

.album_name {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--grey-900);
  letter-spacing: 1px;
}

.album_release_year {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.track_list {
  margin-top: var(--space-lg);
}

.track_list_title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--pink-500);
  margin-bottom: var(--space-md);
}

.track_card {
  border-bottom: 1px solid var(--pink-500);
}

.track_card_action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.play_button {
  width: 40px;
  height: 40px;
  color: var(--pink-500);
}
