.nav {
  width: 100%;
}

.user_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
  justify-content: space-between;
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.logout_button {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius-md);
  background: var(--grey-900);
  color: var(--blueGrey-100);
  font-size: var(--font-size-md);
  cursor: pointer;
}

.user_menu_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
